/***********************************************************************TAG SELECTORS**************************************************************************/

hr{
  border-style:none;
  border-top-style: dotted;
  width: 5%;
  border-width:5px;
  border-color:grey;
}
h1{
  color: #595051;
}
h2{
  color: #803337;
}
h3{
  color: #803337;
}
/*********************************************************************CLASS SELECTORS**************************************************************************/
.mainbg{
  background-color: #E4EFE7;
}
.contactbg{
  background-color: #F2D7D9;
}
/*****************************************************************************ID SELECTORS*********************************************************************/
